<li class="collection-item">
    <p data-content="text"></p>
    <span class="grey-text" data-content="name"></span>
    <span class="grey-text">—</span>
    <span class="grey-text" data-content="time"></span>
</li>
